BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
SortIncludes: false
# Use the below one for clang-format >= 13.
# For Ubuntu 20.04 Focal, so far clang-format == 10.
# SortIncludes: Never
AlignEscapedNewlines: DontAlign
