BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
SortIncludes: Never
# Use the below one up to clang 12.
# VSCode reformats with a remote clang-format so the newer value is kept as the default.
# SortIncludes: false
AlignEscapedNewlines: DontAlign
